h1{
	text-align: center;
}

.box1{
	background-image: url("/images/dosa.jpeg");
	color: #FFFFFF;
	margin: 10px 1px 1px 1px;
	border: 3px solid black;
	width: 481px;
	height: 250px;
	float: left;
	padding-left: 7px;
	box-sizing: border-box;
	overflow: auto;
	border-color: black;
	background-size: 481px 250px;
}

.box2{
	background-image: url("images/dalmakhani.jpeg");
	color: #FFFFFF;
	margin: 10px 1px 1px 1px;
	border: 3px solid black;
	width: 481px;
	height: 250px;
	float: left;
	padding-left: 7px;
	box-sizing: border-box;
	overflow: auto;
	border-color: black;
	background-size: 481px 250px;
}
.box3{
	background-image: url("paneertikka.jpg");
	color: #FFFFFF;
	margin: 10px 1px 1px 1px;
	border: 3px solid black;
	width: 481px;
	height: 250px;
	float: left;
	padding-left: 7px;
	box-sizing: border-box;
	overflow: auto;
	border-color: black;
	background-size: 481px 250px;
}
p{
	clear: right;
}

h2{
	margin-top: 7px;
	text-align: center;
	margin: 1px 1px 1px 1px;
	border: 2px solid black;
	width: 175px;
	height: 37px;
	background: red;
	box-sizing: border-box;
	
	float: right;
}

@media (min-width: 992px){
	.box1{
		width: 33%;
	}
	.box2{
		width: 33%;
	}
	.box3{
		width: 33%;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.box1{
		width: 49.3%;
	}
	.box2{
		width: 50%;
	}
	.box3{
		width: 100%;
	}
}

@media (max-width: 767px){
	.box1{
		width: 100%;
	}
	.box2{
		width: 100%;
	}
	.box3{
		width: 100%;
	}
}
